extends layout

block content
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
        div.container
            a(href="/").navbar-brand Question bank database

    div.container.content
        div.row
            div.col-md-3
            div.col-md-6
                h3.text-left sign up
                br
                form#create-user.text-center(method="post",action="/users/register")
                    div.form-group
                        input.form-control(type="text",placeholder="First Name",name='fname')
                        br
                        input.form-control(type="text",placeholder="Last Name",name='lname')
                        br
                        input.form-control(type="email",placeholder="email id",name="email")
                        br
                        input.form-control(type="password",placeholder="password",name='password')
                        br
                        div.text-right
                            button.btn.btn-primary(type="submit")
                                span sign in
                        br
                        if failed == true
                            div.alert.alert-danger
                                p sorry , somebody is already using this email ID
                        div.text-left
                            a(href='/users/login')
                                h5 back to login
            div.col-md-3