@import url('https://fonts.googleapis.com/css?family=Roboto');

.navbar{
    background-color:#eee;
}
.navbar-brand{
    color:#000;
    font-size:120% !important;
}
.navbar-custom{
    background-color:#fff;
}
.btn-custom{
    background-color:#fff;
    border-radius:0px !important;
}
#title{
    padding: 20px 20px 60px 20px;
    color:#666; 
    font-size: 500%;
    font-family: 'Roboto', sans-serif;
}
.concept{
    background-color:#efefef;
    margin-right:5px;
    padding:4px;
    border: .2px solid #aaa;
}
.content{
    margin-top:70px;
}
#search-btn{
    color:#000;
}
#search-bar{
    margin: 0px 0 50px 0;
    padding-bottom:50px;
}

/* display all question */
#questions{
    margin: 10px;
    border: .7px solid #aaa;
}
#concepts{
    margin: 10px;
    border: .7px solid #aaa;
}
#profiles{
    margin: 10px;
    border: .7px solid #aaa;
}
/* addQuestion */
#answer{
    height:200px;
}

#controls{
    border-left:.5px solid #eee;
    padding: 15px;
}
.profile-name{
    text-transform: capitalize;
}

a:hover{
    text-decoration: none;
}

.answer{
    width: 70%;
    padding: 10px;
    border: 0.5px solid #ddd;
    text-indent: 15px;
}